@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Poppins:wght@200;300;500&display=swap");
* {
  font-family: "Jost", sans-serif;
}

.row {
  margin: 0 !important;
}

.navimg {
  width: 20px;
  margin: 10px 0 0 0;
}

.navl {
  background-color: #fff;
}

.navs {
  display: none;
}

@media screen and (max-width: 992px) {
  .navs {
    display: block;
    background-color: #fff;
  }
  .navl {
    display: none;
  }
}
.first-section .top-text {
  margin-top: 150px;
  text-align: center;
}
.first-section h3 {
  font-size: 18px;
  margin-top: 30px;
}
.first-section h1 {
  font-weight: 700;
  margin-top: 30px;
}
.first-section #wordChanging {
  color: #bd3a3a;
  text-shadow: -1px 1px 2px #828282;
}
.first-section .first-btn {
  text-align: center;
  margin-top: 30px;
}
.first-section .btn2,
.first-section .btn1 {
  border: 1px solid black;
  outline: none;
  padding: 9px 60px;
  background-color: #fff;
  font-weight: 700;
  color: black;
}
.first-section .btn2:hover,
.first-section .btn1:hover {
  background-color: black;
  color: #fff;
}
.first-section .btn2 {
  margin-left: 10px;
}
.first-section .first-section-img {
  margin-top: 80px;
  text-align: center;
}
.first-section .man-black {
  margin-top: 125px;
}
.first-section .lady-white {
  margin-left: 20px;
}
.first-section .man-white {
  margin-top: 125px;
  margin-left: 20px;
}
@media screen and (max-width: 992px) {
  .first-section .man-black {
    width: 100%;
    margin-bottom: 30px;
  }
  .first-section .lady-white {
    width: 100%;
    margin-left: -1px;
  }
  .first-section .man-white {
    width: 100%;
    margin-left: -1px;
    margin-top: 30px;
  }
  .first-section .first-section-img {
    margin-left: 0;
    margin-top: 0;
  }
  .first-section .btn1 {
    width: 100%;
  }
  .first-section .btn2 {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .first-section .man-black {
    width: 30%;
  }
  .first-section .lady-white {
    width: 30%;
    margin-top: 60px;
  }
  .first-section .man-white {
    width: 30%;
  }
}

.second-section .second-section-text {
  text-align: center;
  margin: 100px 0;
}
.second-section h1 {
  font-weight: 700;
}
.second-section .second-section-btn {
  text-align: center;
}
.second-section .view-btn {
  border: 1px solid black;
  outline: none;
  padding: 9px 60px;
  background-color: #fff;
  margin: 80px 0;
  font-weight: 700;
}
.second-section h3 {
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .second-section .view-btn {
    width: 100%;
  }
}

.third-section .third-section-text {
  padding: 150px 0 0 100px;
}
.third-section h3 {
  color: #616161;
  font-weight: 700;
  font-size: 25px;
}
.third-section h1 {
  font-weight: 700;
  margin: 15px 0;
}
.third-section p {
  margin-bottom: 60px;
  color: #424242;
  margin-top: 20px;
}
.third-section .explore-btn {
  border: 1px solid black;
  outline: none;
  padding: 9px 60px;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .third-section .third-section-text {
    width: 91%;
    padding: 10px 10px;
    margin-left: 16px;
    margin-bottom: 30px;
    background-color: #fff !important;
  }
  .third-section br {
    display: none;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1050px) {
  .third-section .third-section-text {
    padding: 30px 20px !important;
  }
  .third-section br {
    display: none;
  }
}

.forth-section .forth-img {
  margin-top: 15px;
}
.forth-section .man {
  padding-top: 170px;
}
.forth-section .froth-section-btn {
  text-align: center;
}
.forth-section .view-btn {
  border: 1px solid black;
  outline: none;
  padding: 9px 60px;
  background-color: #fff;
  margin: 80px 0;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .forth-section .lady {
    width: 91%;
    margin-left: 16px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .forth-section .man {
    padding-top: 0;
  }
  .forth-section .view-btn {
    width: 100%;
  }
}

.fifth-section .fifth-section-top {
  text-align: center;
}
.fifth-section h1 {
  font-weight: 700;
  font-size: 25px;
}
.fifth-section .fifth-section-first-text {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 50px;
}
.fifth-section .women,
.fifth-section .kids {
  border: 1px solid rgb(251, 246, 246);
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
}
.fifth-section .women:hover {
  background-color: #d7000f;
  color: #fff;
}
.fifth-section .kids:hover {
  background-color: #d7000f;
  color: #fff;
}
.fifth-section .men {
  color: #828282;
  border: 1px solid rgb(251, 246, 246);
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
  border-bottom: 1px solid #212121;
}
.fifth-section .men:hover {
  background-color: #d7000f;
  color: #fff;
}
.fifth-section .fifth-section-second-text {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 30px;
}
.fifth-section .shirt,
.fifth-section .singlet,
.fifth-section .pants,
.fifth-section .boxers {
  border: 1px solid rgb(251, 246, 246);
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
}
.fifth-section .shirt:hover {
  background-color: #d7000f;
  color: #fff;
}
.fifth-section .singlet:hover {
  background-color: #d7000f;
  color: #fff;
}
.fifth-section .pants:hover {
  background-color: #d7000f;
  color: #fff;
}
.fifth-section .boxers:hover {
  background-color: #d7000f;
  color: #fff;
}
@media screen and (max-width: 992px) {
  .fifth-section .fifth-section-first-text {
    display: block;
    margin-left: 0;
  }
  .fifth-section .fifth-section-second-text {
    display: block;
    margin-left: 0;
  }
  .fifth-section .women,
  .fifth-section .men {
    border: none;
  }
}

.sixth-section .sixth-group-img {
  margin-top: 100px;
}
.sixth-section .sixth-sec {
  display: flex;
  justify-content: center;
}
.sixth-section .left-arrow {
  margin-left: -7%;
  margin-bottom: -35%;
}
.sixth-section .right-arrow {
  margin-left: 100%;
  margin-top: -55%;
}
.sixth-section .black-pant,
.sixth-section .white-boxer {
  margin-left: 20px;
}
.sixth-section span {
  font-weight: 700;
  font-size: 20px;
}
.sixth-section .sixth-sec-text {
  margin-top: 40px;
}
.sixth-section .sixth-section-btn {
  text-align: center;
}
.sixth-section .view-all {
  border: 1px solid black;
  outline: none;
  padding: 9px 60px;
  background-color: #fff;
  margin: 80px 0;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .sixth-section .sixth-sec {
    display: block;
  }
  .sixth-section .right-arrow,
  .sixth-section .left-arrow {
    display: none;
    margin: 0 !important;
  }
  .sixth-section .black-pant,
  .sixth-section .white-boxer {
    margin-left: 0 !important;
  }
  .sixth-section img {
    width: 100%;
  }
  .sixth-section .view-all {
    width: 100%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1050px) {
  .sixth-section .right-arrow,
  .sixth-section .left-arrow {
    display: none;
    margin: 0 !important;
  }
  .sixth-section img {
    width: 91%;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1300px) {
  .sixth-section .left-arrow {
    margin-left: -7%;
    margin-bottom: -40%;
  }
  .sixth-section .right-arrow {
    margin-left: 100%;
    margin-top: -55%;
  }
}
@media screen and (min-width: 2200px) {
  .sixth-section .left-arrow {
    margin-left: -4%;
    margin-bottom: -20%;
  }
  .sixth-section .right-arrow {
    margin-left: 100%;
    margin-top: -33%;
  }
  .sixth-section .sixth-sec {
    justify-content: space-between;
  }
}

.seventh-section .card-section {
  display: flex;
  justify-content: space-between;
}
.seventh-section .man-woman,
.seventh-section .man-sitting,
.seventh-section .man-standing {
  width: 97%;
}
.seventh-section .card-body {
  width: 97%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.seventh-section .card-body .lady-on-yellow {
  padding-bottom: 10px;
}
.seventh-section .card-body .view {
  margin-left: 40px;
}
.seventh-section .card-body .number35 {
  margin-left: 150px;
  margin-top: -50px;
}
.seventh-section .card-body .heart {
  margin-left: 210px;
  margin-top: -80px;
}
.seventh-section .card-body .number23 {
  margin-left: 240px;
  margin-top: -63px;
}
.seventh-section .card-first-text {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.seventh-section .wade {
  font-weight: 700;
}
.seventh-section .card-second-text h4 {
  font-weight: 700;
  margin-top: 20px;
}
.seventh-section .card-second-text .second-text-p {
  font-size: 15px;
  font-weight: 500;
  margin-top: 30px;
}
.seventh-section .read-more {
  margin-top: 50px;
  margin-bottom: 70px;
}
.seventh-section .read-more-bnt {
  border: 1px solid black;
  outline: none;
  background-color: #fff;
  padding: 10px 30px;
  font-weight: 700;
}
.seventh-section .view-all {
  text-align: center;
  margin: 80px 0;
}
.seventh-section .view-all-btn {
  border: 1px solid black;
  outline: none;
  padding: 9px 60px;
  background-color: #fff;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .seventh-section .card-section {
    display: block;
  }
  .seventh-section .man-woman,
  .seventh-section .man-sitting,
  .seventh-section .man-standing {
    width: 100%;
    margin-top: 50px;
  }
  .seventh-section .card-body {
    width: 100%;
  }
  .seventh-section .view-all-btn {
    width: 100%;
  }
}

.footer-section .footer-page {
  background-color: #212121;
  color: #fff;
  padding: 100px 0;
}
.footer-section h6 {
  font-size: 20px;
}
.footer-section p {
  font-size: 14px;
}
.footer-section .company-contact .form-email {
  border: 1px solid #fff;
  margin-top: 30px;
  padding: 5px 0;
}
.footer-section .company-contact input {
  background-color: #212121;
  border: none;
  font-size: 10px;
  padding-left: 20px;
  outline: none;
}
.footer-section .company-contact .arrow {
  margin-left: 190px;
}
.footer-section .company-contact .mail {
  margin-top: 30px;
}
.footer-section .company-contact .mail p {
  margin-left: 20px;
  margin-top: -20px;
}
.footer-section .company-contact .phone p {
  margin-left: 20px;
  margin-top: -20px;
}
.footer-section .social-media {
  text-align: center;
  margin-top: 50px;
}
.footer-section .social-media p {
  border-top: 2px solid #fff;
  margin-top: 20px;
  padding-top: 30px;
}
@media screen and (min-width: 2200px) {
  .footer-section .arrow {
    margin-left: 75% !important;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1100px) {
  .footer-section .arrow {
    margin-left: 100px !important;
  }
  .footer-section h6 {
    font-size: 14px;
  }
  .footer-section p {
    font-size: 10px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .footer-section .arrow {
    margin-left: 160px !important;
  }
  .footer-section h6 {
    font-size: 19px;
  }
  .footer-section p {
    font-size: 15px;
  }
}
@media screen and (min-width: 650px) and (max-width: 992px) {
  .footer-section .arrow {
    margin-left: 80% !important;
  }
  .footer-section h6 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 640px) {
  .footer-section .arrow {
    margin-left: 55% !important;
  }
  .footer-section h6 {
    margin-top: 30px;
  }
}

.blog-page h1 {
  text-align: center;
  margin: 150px 0;
  font-weight: 700;
}

.blog-first-section h5,
.blog-second-section h5,
.blog-third-section h5 {
  font-weight: 700;
  margin-bottom: 70px;
}
.blog-first-section .lady-on-yellow,
.blog-second-section .lady-on-yellow,
.blog-third-section .lady-on-yellow {
  padding-bottom: 10px;
  width: 60%;
}
.blog-first-section .view,
.blog-second-section .view,
.blog-third-section .view {
  margin-left: 40px;
}
.blog-first-section .number35,
.blog-second-section .number35,
.blog-third-section .number35 {
  margin-left: 150px;
  margin-top: -50px;
}
.blog-first-section .heart,
.blog-second-section .heart,
.blog-third-section .heart {
  margin-left: 210px;
  margin-top: -80px;
}
.blog-first-section .number23,
.blog-second-section .number23,
.blog-third-section .number23 {
  margin-left: 240px;
  margin-top: -63px;
}
.blog-first-section .card-first-text,
.blog-second-section .card-first-text,
.blog-third-section .card-first-text {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.blog-first-section .wade,
.blog-second-section .wade,
.blog-third-section .wade {
  font-weight: 700;
}
.blog-first-section .read-more,
.blog-second-section .read-more,
.blog-third-section .read-more {
  margin-top: 50px;
  margin-bottom: 80px;
}
.blog-first-section .read-more-bnt,
.blog-second-section .read-more-bnt,
.blog-third-section .read-more-bnt {
  border: 1px solid black;
  outline: none;
  background-color: #fff;
  padding: 10px 30px;
  font-weight: 700;
}
.blog-first-section .man-woman,
.blog-first-section .man-sitting,
.blog-second-section .man-woman,
.blog-second-section .man-sitting,
.blog-third-section .man-woman,
.blog-third-section .man-sitting {
  margin-top: 140px;
}
@media screen and (max-width: 992px) {
  .blog-first-section .man-standing,
  .blog-second-section .man-standing,
  .blog-third-section .man-standing {
    width: 100%;
  }
  .blog-first-section .blog-first-text,
  .blog-second-section .blog-first-text,
  .blog-third-section .blog-first-text {
    margin-top: 80px;
  }
  .blog-first-section .lady-on-yellow,
  .blog-second-section .lady-on-yellow,
  .blog-third-section .lady-on-yellow {
    width: 100%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1100px) {
  .blog-first-section .man-standing,
  .blog-second-section .man-standing,
  .blog-third-section .man-standing {
    width: 100%;
    height: 95%;
  }
}

.last-section,
.blog2-last-section {
  margin: 50px 0;
}
.last-section .arrow,
.blog2-last-section .arrow {
  text-align: center;
}
.last-section .arrow .left,
.blog2-last-section .arrow .left {
  margin-right: 120px;
  margin-bottom: -235px;
}
.last-section .arrow .right,
.blog2-last-section .arrow .right {
  margin-left: 120px;
  margin-bottom: -235px;
}
.last-section .arrow img,
.blog2-last-section .arrow img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 30px;
  border-radius: 3px;
}
.last-section .arrow :hover,
.blog2-last-section .arrow :hover {
  border: 2px solid goldenrod;
}
.last-section .next-prev,
.blog2-last-section .next-prev {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 80px 0;
}
.last-section .next-prev p,
.blog2-last-section .next-prev p {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px 30px;
  border-radius: 3px;
}
.last-section .next-prev:hover,
.blog2-last-section .next-prev:hover {
  border: 2px solid goldenrod;
}
@media screen and (max-width: 500px) {
  .last-section p,
  .blog2-last-section p {
    padding: 15px 20px !important;
  }
  .last-section .left,
  .blog2-last-section .left {
    margin-right: 60px !important;
  }
  .last-section img,
  .blog2-last-section img {
    padding: 20px 20px !important;
  }
  .last-section .right,
  .blog2-last-section .right {
    margin-left: 60px;
  }
}

.link-section {
  margin-top: 100px;
}
.link-section a {
  color: rgba(0, 0, 0, 0.5);
}

.how-important h1 {
  text-align: center;
  margin: 150px 0;
  font-weight: 700;
}
.how-important img {
  margin: 60px 0;
}

.blog2-second-section h1 {
  text-align: center;
  margin: 100px 0;
  font-weight: 700;
}
.blog2-second-section .card-section {
  display: flex;
  justify-content: space-between;
}
.blog2-second-section .man-woman,
.blog2-second-section .man-sitting,
.blog2-second-section .man-standing {
  width: 97%;
}
.blog2-second-section .card-body {
  width: 97%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.blog2-second-section .card-body .lady-on-yellow {
  padding-bottom: 10px;
}
.blog2-second-section .card-body .view {
  margin-left: 40px;
}
.blog2-second-section .card-body .number35 {
  margin-left: 150px;
  margin-top: -50px;
}
.blog2-second-section .card-body .heart {
  margin-left: 210px;
  margin-top: -80px;
}
.blog2-second-section .card-body .number23 {
  margin-left: 240px;
  margin-top: -63px;
}
.blog2-second-section .card-first-text {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.blog2-second-section .wade {
  font-weight: 700;
}
.blog2-second-section .card-second-text h4 {
  font-weight: 700;
  margin-top: 20px;
}
.blog2-second-section .card-second-text .second-text-p {
  font-size: 15px;
  font-weight: 500;
  margin-top: 30px;
}
.blog2-second-section .read-more {
  margin-top: 50px;
  margin-bottom: 70px;
}
.blog2-second-section .read-more-bnt {
  border: 1px solid black;
  outline: none;
  background-color: #fff;
  padding: 10px 30px;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .blog2-second-section .card-section {
    display: block;
  }
  .blog2-second-section .man-woman,
  .blog2-second-section .man-sitting,
  .blog2-second-section .man-standing {
    width: 100%;
    margin-top: 50px;
  }
  .blog2-second-section .card-body {
    width: 100%;
  }
}

.about-page,
.contact-page {
  text-align: center;
}
.about-page h1,
.contact-page h1 {
  font-weight: 700;
  margin: 100px 0;
}

.about-page-section-one h5 {
  margin-top: 90px;
  font-weight: 700;
}
.about-page-section-one p {
  margin-top: 20px;
  font-size: 25px;
}
.about-page-section-one h1 {
  margin: 100px 0;
  text-align: center;
  font-weight: 700;
}

.about-award-section img {
  margin-bottom: 30px;
}
.about-award-section p {
  margin-bottom: 30px;
}
.about-award-section .two-of-one p {
  font-size: 14.6px;
}
.about-award-section .two-of-one h5 {
  margin-top: 37px !important;
}
.about-award-section .award {
  background: #fbfbfb;
  padding: 40px 30px 40px 20px;
}
.about-award-section .award:hover {
  background: rgba(189, 58, 58, 0.04);
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.06);
}
.about-award-section .award h5 {
  color: #D7000F !important;
  font-weight: 700;
}
.about-award-section .awd h5 {
  margin-top: 53px;
}
@media screen and (max-width: 992px) {
  .about-award-section .award {
    width: 100% !important;
    margin-bottom: 30px;
  }
}

.about-fifth-section .fifth-page {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  margin: 120px 0;
}
.about-fifth-section .about-fifth-section-first-text {
  border-bottom: 2px solid #f1eeee;
  margin-bottom: 30px;
}
.about-fifth-section .about-fifth-section-first-text h5 {
  margin-top: 40px;
  font-weight: 700;
}
.about-fifth-section .about-fifth-section-first-text .see-all {
  margin-top: -35px;
  margin-left: 92%;
  color: #d7000f;
}
.about-fifth-section .about-fifth-section-first-text .see-all img {
  margin-left: 60px;
  margin-top: -83px;
}
.about-fifth-section .card-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.about-fifth-section .first-card .lady-card {
  width: 98%;
  padding-left: 7px;
  padding-bottom: 20px;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.06);
}
.about-fifth-section .first-card:hover .take-action-btn {
  display: flex !important;
}
.about-fifth-section .first-card h6 {
  margin-top: 20px;
  font-weight: 700;
}
.about-fifth-section .first-card .model {
  font-weight: 500;
}
.about-fifth-section .first-card .price {
  font-weight: 600;
}
.about-fifth-section .first-card .description {
  color: #787885;
  font-size: 12px;
}
.about-fifth-section .first-card .rateing {
  color: #5e6366;
  margin-left: 100px;
  margin-top: -22px;
  font-weight: 600;
}
.about-fifth-section .first-card .chinese-lady {
  width: 93%;
  border-radius: 5px 5px 0 0;
}
.about-fifth-section .take-action-btn {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  display: none;
}
.about-fifth-section .take-action-btn p {
  margin-bottom: 0;
}
.about-fifth-section .take-action-btn img {
  width: 20%;
  margin-top: 4px;
}
.about-fifth-section .take-action-btn button {
  display: flex;
  gap: 5px;
  padding: 3px 5px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #bd3a3a;
}
.about-fifth-section .take-action-btn .wishlist-btn {
  background-color: #fff;
  color: #bd3a3a;
}
.about-fifth-section .take-action-btn .buy-now-btn {
  background-color: #bd3a3a;
  color: #fff;
}
@media screen and (max-width: 992px) {
  .about-fifth-section .card-section {
    display: block;
  }
  .about-fifth-section .first-card {
    margin-bottom: 50px !important;
  }
  .about-fifth-section .chinese-lady {
    width: 100% !important;
  }
  .about-fifth-section .see-all {
    margin-top: 0px !important;
    margin-left: 0% !important;
  }
}

.contact-section .ways-to-contact {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  padding: 50px 30px;
}
.contact-section .location {
  display: flex;
  gap: 20px;
}
.contact-section .location h5 {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 0px !important;
}
.contact-section .location p {
  font-size: 14px;
  font-weight: 400;
}
.contact-section span {
  display: block;
}
@media screen and (max-width: 992px) {
  .contact-section .ways-to-contact {
    display: block;
    background-color: #fff !important;
    margin-top: 0;
  }
  .contact-section .location {
    margin-top: 40px;
  }
}

.contact-section-two h1 {
  font-weight: 700;
  margin: 50px 0;
}
.contact-section-two p {
  margin-bottom: 0;
  margin-top: 40px;
}
.contact-section-two #tel,
.contact-section-two #email,
.contact-section-two #note {
  border: 1px solid #bd3a3a;
  border-radius: 5px;
  outline: none;
}
.contact-section-two .submit {
  margin-top: 50px;
  border: 1px solid #bd3a3a;
  border-radius: 5px;
  outline: #bd3a3a;
  background-color: #bd3a3a;
  color: #fff;
}

.all-product .all-product-top {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
}
.all-product .all-product-page {
  border-bottom: 2px solid #f1eeee;
  padding-bottom: 10px;
}
.all-product h5 {
  margin-top: 60px;
  font-weight: 700;
}
.all-product fieldset {
  border: 1px solid #5a5b6a;
  margin-top: 10px;
  width: 17%;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 100px;
  margin-left: 81%;
  margin-top: -58px;
}
.all-product legend {
  font-size: 12px;
  padding-left: 10px;
  font-weight: 700;
  color: #5a5b6a;
}
.all-product select {
  border: none;
  outline: none;
  margin-bottom: 10px;
  color: #5a5b6a;
  font-weight: 600;
}
.all-product .both-view-btn {
  display: flex;
  margin-left: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.all-product .view-list {
  border-radius: 2px;
  background: rgba(189, 58, 58, 0.06);
  padding: 7px 20px;
}
.all-product .view-grid {
  border-radius: 4px;
  background: var(--white-100, #fff);
  box-shadow: 0px 2px 4px 0px rgba(41, 121, 255, 0.24), 0px 1px 2px 0px rgba(27, 78, 163, 0.24);
  padding: 7px 20px;
}
.all-product .card-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.all-product .first-set {
  border-top: 2px solid #f1eeee;
  padding-top: 20px;
}
.all-product .first-card .lady-card {
  width: 98%;
  padding-left: 7px;
  padding-bottom: 20px;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.06);
}
.all-product .first-card:hover .take-action-btn {
  display: flex !important;
}
.all-product .first-card h6 {
  margin-top: 20px;
  font-weight: 700;
}
.all-product .first-card .model {
  font-weight: 500;
}
.all-product .first-card .price {
  font-weight: 600;
}
.all-product .first-card .description {
  color: #787885;
  font-size: 12px;
}
.all-product .first-card .rateing {
  color: #5e6366;
  margin-left: 100px;
  margin-top: -22px;
  font-weight: 600;
}
.all-product .first-card .chinese-lady {
  width: 93%;
  border-radius: 5px 5px 0 0;
}
.all-product .take-action-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  display: none;
}
.all-product .take-action-btn p {
  margin-bottom: 0;
}
.all-product .take-action-btn img {
  width: 20%;
  margin-top: 4px;
}
.all-product .take-action-btn button {
  display: flex;
  gap: 5px;
  padding: 3px 5px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #bd3a3a;
}
.all-product .take-action-btn .wishlist-btn {
  background-color: #fff;
  color: #bd3a3a;
}
.all-product .take-action-btn .buy-now-btn {
  background-color: #bd3a3a;
  color: #fff;
}
@media screen and (max-width: 500px) {
  .all-product .card-section {
    display: block;
  }
  .all-product .first-card {
    margin-bottom: 50px !important;
  }
  .all-product .chinese-lady {
    width: 100% !important;
  }
  .all-product .see-all {
    margin-top: 0px !important;
    margin-left: 0% !important;
  }
  .all-product .both-view-btn {
    margin-left: 62%;
  }
  .all-product fieldset {
    margin-left: 66%;
    padding-left: 10px;
    padding-right: 29px;
    width: 30% !important;
  }
  .all-product legend {
    font-size: 10px;
  }
  .all-product select {
    font-size: 14px;
  }
}
@media screen and (min-width: 540px) and (max-width: 992px) {
  .all-product fieldset {
    margin-left: 83%;
    padding-left: 3px;
    padding-right: 35px;
    width: 14% !important;
  }
  .all-product .card-section {
    display: block;
  }
  .all-product .chinese-lady {
    width: 100% !important;
  }
  .all-product .both-view-btn {
    margin-left: 82%;
  }
}
@media screen and (min-width: 535px) and (max-width: 600px) {
  .all-product fieldset {
    margin-left: 76%;
    padding-left: 3px;
    padding-right: 35px;
    width: 20% !important;
  }
  .all-product .card-section {
    display: block;
  }
  .all-product .chinese-lady {
    width: 100% !important;
  }
  .all-product .both-view-btn {
    margin-left: 75%;
  }
}
@media screen and (min-width: 2000px) {
  .all-product fieldset {
    margin-left: 91%;
    padding-left: 14px;
    padding-right: 49px;
    width: 7% !important;
  }
  .all-product .both-view-btn {
    margin-left: 92%;
  }
}

.comosle {
  border-bottom: 2px solid #f1eeee;
  margin-bottom: 25px;
}
.comosle .product-found {
  color: #706d6d;
  margin-top: 30px;
}
.comosle .product-found-btn {
  margin-top: -50px !important;
}

.boxers-page {
  box-shadow: none !important;
}
.boxers-page .fieldset-boxer {
  background-color: #fff !important;
  border: 2px solid #bd3a3a !important;
}
.boxers-page .fieldset-boxer .legend-boxer {
  color: #bd3a3a !important;
}
.boxers-page .fieldset-boxer .option-boxer {
  color: #bd3a3a !important;
}
.boxers-page .first-set {
  margin-bottom: 150px;
}

.cart .big-boxer-img {
  width: 60%;
}
.cart .all-img {
  margin-top: 40px;
}
.cart .little-boxer-img {
  width: 13%;
}
.cart .arrow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 15px;
  border-radius: 3px;
}
.cart .arrow:hover {
  border: 1px solid goldenrod;
}

/*# sourceMappingURL=style.css.map */
