@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Poppins:wght@200;300;500&display=swap");
* {
  font-family: "Jost", sans-serif;
}

.row {
  margin: 0 !important;
}

.navimg {
  width: 20px;
  margin: 10px 0 0 0;
}

.navl {
  background-color: #fff;
}

.navs {
  display: none;
}

@media screen and (max-width: 992px) {
  .navs {
    display: block;
    background-color: #fff;
  }
  .navl {
    display: none;
  }
}
.first-section .top-text {
  margin-top: 150px;
  text-align: center;
}
.first-section h3 {
  font-size: 18px;
  margin-top: 30px;
}
.first-section h1 {
  font-weight: 700;
  margin-top: 30px;
}
.first-section .first-btn {
  text-align: center;
  margin-top: 30px;
}
.first-section .btn1 {
  border: none;
  outline: none;
  background-color: black;
  color: #fff;
  padding: 10px 60px;
  font-weight: 700;
}
.first-section .btn1:hover {
  background-color: #fff;
  color: black;
}
.first-section .btn2 {
  border: 1px solid black;
  outline: none;
  padding: 9px 60px;
  background-color: #fff;
  margin-left: 10px;
  font-weight: 700;
}
.first-section .first-section-img {
  margin-top: 80px;
  text-align: center;
}
.first-section .man-black {
  margin-top: 125px;
}
.first-section .lady-white {
  margin-left: 20px;
}
.first-section .man-white {
  margin-top: 125px;
  margin-left: 20px;
}
@media screen and (max-width: 992px) {
  .first-section .man-black {
    width: 100%;
    margin-bottom: 30px;
  }
  .first-section .lady-white {
    width: 100%;
    margin-left: -1px;
  }
  .first-section .man-white {
    width: 100%;
    margin-left: -1px;
    margin-top: 30px;
  }
  .first-section .first-section-img {
    margin-left: 0;
    margin-top: 0;
  }
  .first-section .btn1 {
    width: 100%;
  }
  .first-section .btn2 {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .first-section .man-black {
    width: 30%;
  }
  .first-section .lady-white {
    width: 30%;
    margin-top: 60px;
  }
  .first-section .man-white {
    width: 30%;
  }
}

.second-section .second-section-text {
  text-align: center;
  margin: 100px 0;
}
.second-section h1 {
  font-weight: 700;
}
.second-section .second-section-btn {
  text-align: center;
}
.second-section .view-btn {
  border: 1px solid black;
  outline: none;
  padding: 9px 60px;
  background-color: #fff;
  margin: 80px 0;
  font-weight: 700;
}
.second-section h3 {
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .second-section .view-btn {
    width: 100%;
  }
}

.third-section .third-section-text {
  padding: 150px 0 0 100px;
}
.third-section h3 {
  color: #616161;
  font-weight: 700;
  font-size: 25px;
}
.third-section h1 {
  font-weight: 700;
  margin: 15px 0;
}
.third-section p {
  margin-bottom: 60px;
  color: #424242;
  margin-top: 20px;
}
.third-section .explore-btn {
  border: 1px solid black;
  outline: none;
  padding: 9px 60px;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .third-section .third-section-text {
    width: 91%;
    padding: 10px 10px;
    margin-left: 16px;
    margin-bottom: 30px;
    background-color: #fff !important;
  }
  .third-section br {
    display: none;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1050px) {
  .third-section .third-section-text {
    padding: 30px 20px !important;
  }
  .third-section br {
    display: none;
  }
}

.forth-section .forth-img {
  margin-top: 15px;
}
.forth-section .man {
  padding-top: 170px;
}
.forth-section .froth-section-btn {
  text-align: center;
}
.forth-section .view-btn {
  border: 1px solid black;
  outline: none;
  padding: 9px 60px;
  background-color: #fff;
  margin: 80px 0;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .forth-section .lady {
    width: 91%;
    margin-left: 16px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .forth-section .man {
    padding-top: 0;
  }
  .forth-section .view-btn {
    width: 100%;
  }
}

.fifth-section .fifth-section-top {
  text-align: center;
}
.fifth-section h1 {
  font-weight: 700;
  font-size: 25px;
}
.fifth-section .fifth-section-first-text {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 50px;
}
.fifth-section .women, .fifth-section .kids {
  border: 1px solid rgb(251, 246, 246);
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
}
.fifth-section .women:hover {
  background-color: #D7000F;
  color: #fff;
}
.fifth-section .kids:hover {
  background-color: #D7000F;
  color: #fff;
}
.fifth-section .men {
  color: #828282;
  border: 1px solid rgb(251, 246, 246);
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
  border-bottom: 1px solid #212121;
}
.fifth-section .men:hover {
  background-color: #D7000F;
  color: #fff;
}
.fifth-section .fifth-section-second-text {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 30px;
}
.fifth-section .shirt, .fifth-section .singlet, .fifth-section .pants, .fifth-section .boxers {
  border: 1px solid rgb(251, 246, 246);
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
}
.fifth-section .shirt:hover {
  background-color: #D7000F;
  color: #fff;
}
.fifth-section .singlet:hover {
  background-color: #D7000F;
  color: #fff;
}
.fifth-section .pants:hover {
  background-color: #D7000F;
  color: #fff;
}
.fifth-section .boxers:hover {
  background-color: #D7000F;
  color: #fff;
}
@media screen and (max-width: 992px) {
  .fifth-section .fifth-section-first-text {
    display: block;
    margin-left: 0;
  }
  .fifth-section .fifth-section-second-text {
    display: block;
    margin-left: 0;
  }
  .fifth-section .women, .fifth-section .men {
    border: none;
  }
}

.sixth-section .sixth-group-img {
  margin-top: 100px;
}
.sixth-section .sixth-sec {
  display: flex;
  justify-content: center;
}
.sixth-section .left-arrow {
  margin-left: -7%;
  margin-bottom: -40%;
}
.sixth-section .right-arrow {
  margin-left: 100%;
  margin-top: -50%;
}
.sixth-section .black-pant, .sixth-section .white-boxer {
  margin-left: 20px;
}
.sixth-section span {
  font-weight: 700;
  font-size: 20px;
}
.sixth-section .sixth-sec-text {
  margin-top: 40px;
}
.sixth-section .sixth-section-btn {
  text-align: center;
}
.sixth-section .view-all {
  border: 1px solid black;
  outline: none;
  padding: 9px 60px;
  background-color: #fff;
  margin: 80px 0;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .sixth-section .sixth-sec {
    display: block;
  }
  .sixth-section .right-arrow, .sixth-section .left-arrow {
    display: none;
    margin: 0 !important;
  }
  .sixth-section .black-pant, .sixth-section .white-boxer {
    margin-left: 0 !important;
  }
  .sixth-section img {
    width: 100%;
  }
  .sixth-section .view-all {
    width: 100%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1050px) {
  .sixth-section .right-arrow, .sixth-section .left-arrow {
    display: none;
    margin: 0 !important;
  }
  .sixth-section img {
    width: 91%;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1300px) {
  .sixth-section .left-arrow {
    margin-left: -7%;
    margin-bottom: -40%;
  }
  .sixth-section .right-arrow {
    margin-left: 100%;
    margin-top: -55%;
  }
}
@media screen and (min-width: 2200px) {
  .sixth-section .left-arrow {
    margin-left: -4%;
    margin-bottom: -20%;
  }
  .sixth-section .right-arrow {
    margin-left: 100%;
    margin-top: -33%;
  }
  .sixth-section .sixth-sec {
    justify-content: space-between;
  }
}

.seventh-section .card-section {
  display: flex;
  justify-content: space-between;
}
.seventh-section .man-woman, .seventh-section .man-sitting, .seventh-section .man-standing {
  width: 97%;
}
.seventh-section .card-body {
  width: 97%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.seventh-section .card-body .lady-on-yellow {
  padding-bottom: 10px;
}
.seventh-section .card-body .view {
  margin-left: 40px;
}
.seventh-section .card-body .number35 {
  margin-left: 150px;
  margin-top: -50px;
}
.seventh-section .card-body .heart {
  margin-left: 210px;
  margin-top: -80px;
}
.seventh-section .card-body .number23 {
  margin-left: 240px;
  margin-top: -63px;
}
.seventh-section .card-first-text {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.seventh-section .card-second-text h4 {
  font-weight: 700;
  margin-top: 20px;
}
.seventh-section .card-second-text .second-text-p {
  font-size: 15px;
  font-weight: 500;
  margin-top: 30px;
}
.seventh-section .read-more {
  margin-top: 50px;
  margin-bottom: 70px;
}
.seventh-section .read-more-bnt {
  border: 1px solid black;
  outline: none;
  background-color: #fff;
  padding: 10px 30px;
  font-weight: 700;
}
.seventh-section .view-all {
  text-align: center;
  margin: 80px 0;
}
.seventh-section .view-all-btn {
  border: 1px solid black;
  outline: none;
  padding: 9px 60px;
  background-color: #fff;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .seventh-section .card-section {
    display: block;
  }
  .seventh-section .man-woman, .seventh-section .man-sitting, .seventh-section .man-standing {
    width: 100%;
    margin-top: 50px;
  }
  .seventh-section .card-body {
    width: 100%;
  }
  .seventh-section .view-all-btn {
    width: 100%;
  }
}

.footer-section .footer-page {
  background-color: #212121;
  color: #fff;
  padding: 100px 0;
}
.footer-section h6 {
  font-size: 20px;
}
.footer-section p {
  font-size: 14px;
}
.footer-section .company-contact .form-email {
  border: 1px solid #fff;
  margin-top: 30px;
  padding: 5px 0;
}
.footer-section .company-contact input {
  background-color: #212121;
  border: none;
  font-size: 10px;
  padding-left: 20px;
  outline: none;
}
.footer-section .company-contact .arrow {
  margin-left: 190px;
}
.footer-section .company-contact .mail {
  margin-top: 30px;
}
.footer-section .company-contact .mail p {
  margin-left: 20px;
  margin-top: -20px;
}
.footer-section .company-contact .phone p {
  margin-left: 20px;
  margin-top: -20px;
}
.footer-section .social-media {
  text-align: center;
  margin-top: 50px;
}
.footer-section .social-media p {
  border-top: 2px solid #fff;
  margin-top: 20px;
  padding-top: 30px;
}
@media screen and (min-width: 2200px) {
  .footer-section .arrow {
    margin-left: 75% !important;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1100px) {
  .footer-section .arrow {
    margin-left: 100px !important;
  }
  .footer-section h6 {
    font-size: 14px;
  }
  .footer-section p {
    font-size: 10px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .footer-section .arrow {
    margin-left: 160px !important;
  }
  .footer-section h6 {
    font-size: 19px;
  }
  .footer-section p {
    font-size: 15px;
  }
}
@media screen and (min-width: 650px) and (max-width: 992px) {
  .footer-section .arrow {
    margin-left: 80% !important;
  }
  .footer-section h6 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 640px) {
  .footer-section .arrow {
    margin-left: 55% !important;
  }
  .footer-section h6 {
    margin-top: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
